body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
    width: 100%;
    height: 65px;
    background: white; 
    box-shadow: 0 0 15px black;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.ima-logo {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 15px black;
}

.ima-logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 150px;
    height: 65px;
    background: white;
    z-index: -1;
}

.logo {
    padding: 0 !important;
}

.logo img {
    width: 100px;
}

.menu a {
    width: 100px;
    color: gray;
    text-decoration: none;
    transition: .5s;
}

.menu a:nth-child(1) {
    padding: 23px;
}

.menu a:nth-child(2) {
    padding: 23px 80px 23px 0;
}

.menu a:nth-child(3) {
    padding: 0;
}

.menu a:nth-child(4) {
    padding: 23px 0 23px 80px;
}

.menu a:nth-child(5) {
    padding: 23px;
}

.links:hover {
    color: black;
}

.imagenes {
    width: 100%;
    height: 500px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide:nth-child(1){
    background: url("../img/1.jpg");
    background-size: cover;
}

.swiper-slide:nth-child(2){
    background: url("../img/2.jpg");
    background-size: cover;
}

.swiper-slide:nth-child(3){
    background: url("../img/3.jpg");
    background-size: cover;
}

.servicios {
    width: 100%;
    background: #e9e8e6;
    background-size: cover;
    background-position-y: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.titu-ser, .titu-opi {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: gray;
}

h2 {
    margin: 40px;
}

.ser-iz {
    width: 30%;
    display: flex;
}

.ser-iz img {
    width: 100%;
    height: 100%;
}

.ser-der {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.tera {
    width: 350px;
    height: 200px;
    margin: 0 20px 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tera-es {
    background: url(../img/fisio.jpg);
    background-size: cover;
    z-index: 5;
}

.tera-es:hover > .tex-es {
    opacity: 1;
}

.tex-es {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
}

.tex-es::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 200px;
    z-index: -1;
}

.tera-al {
    background: url(../img/alternativa.jpg);
    background-size: cover;
    z-index: 5;
}

.tera-al:hover > .tex-al {
    opacity: 1;
}

.tex-al {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
}

.tex-al::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 200px;
    z-index: -1;
}

.masajes {
    background: url(../img/masaje.jpg);
    background-size: cover;
    z-index: 5;
}

.masajes:hover > .tex-ma {
    opacity: 1;
}

.tex-ma {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
}

.tex-ma::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 200px;
    z-index: -1;
}

.couching {
    background: url(../img/couching.jpg);
    background-size: cover;
    z-index: 5;
}

.couching:hover > .tex-co {
    opacity: 1;
}

.tex-co {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: .5s;
}

.tex-co::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 200px;
    z-index: -1;
}

.opiniones {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-op {
    width: 80%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.opinion {
    width: 40%;
    height: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.opinion img {
    width: 150px;
    border-radius: 50%;
    margin-right: 10px;
}

span {
    font-weight: bold;
    font-size: 20px;
}

.start {
    color: #ffca2f;
}